*.pyc
*tests.py
accounts/old_views.py
accounts/old_account_code.py
cart/all_cart_shit.py
static/media
static/staticfiles
static/static-only
static/static
static/templates/customadmin
products
notrack/
estore/settings
.DS_Store
accounts/migrations/
albums/migrations/
all_products/migrations/

Procfile
dump.json
dump_exclude.json
estore/db.sqlite3
*requirements.txt
static/.DS_Store