{% extends 'base.html' %}

{% block content %}

<div class="row">
	<div class="col-xs-12">
		<div class="col-xs-3">
			<h1 class="pull-right">{{ user.username }}'s account</h1>
			<ul class="list-unstyled">
				<li><a class="btn btn-lin" href="{% url 'user_shipping' %}">Change shipping</a></li>
				<li><a class="btn btn-link" href="{% url 'user_payment' %}">Change payment</a></li>
				<li><a class="btn btn-link" href="{% url 'order_history' %}">Order history</a></li>
			</ul>
		</div>
		<div class="col-xs-9">
			{% block profile %}

			{% endblock %}
		</div>
	</div>
</div>



{% endblock %}