{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-xs-9 col-xs-offset-1">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-info" role="alert"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Order #{{ order.order_id }} Details</h3>
      </div>
      <div class="panel-body">
      	<p>
          <strong>Order Placed:</strong> {{ order.date_completed.date }}</br>
      		<strong>Order Total:</strong> ${{ order.cart.total }}</br>
          <strong>Expected Delivery:</strong> Never <small><em>(Remember? This is a portfolio project)</em></small>
        </p>
     </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Shipping and Payment Details</h3>
      </div>
      <div class="panel-body">
        <div class="col-xs-4">
          <div class="panel panel-default">
            <div class="panel-body">
          <h4>Shipping Address</h4>
          <p>{% if order.shipping_address1 %}
            <strong>{{ order.shipping_nickname }}</strong></br>
          {% endif %}
          {{ order.shipping_first_name }} {{ order.shipping_last_name }}</br>
          {{ order.shipping_address1 }}</br>
          {% if order.shipping_address2|length > 0 %}{{ order.shipping_address2 }}</br>{% endif %}
          {{ order.shipping_city }}, {{ order.shipping_state }} {{ order.shipping_zip_code }}</br>
          {{ order.shipping_phone_number }}</p>
        </div><!--close shipping panel body-->
      </div><!--close shipping panel-->
      </div><!--close shipping div-->
      <div class="col-xs-7 col-xs-offset-1">
        <div class="panel panel-default">
          <div class="panel-body">
        <div class="col-xs-6">
          <h4>Billing Address</h4>
            <p>{{ order.full_name }}</br>
            {{ order.billing_address1 }}</br>
            {% if order.billing_address2 %}
              {{ order.billing_address2 }}</br>
            {% endif %}
          {{ order.billing_city }}, {{ order.billing_state }} {{ order.billing_zip }}</br>
        </div>
        <div class="col-xs-6">
          <h4>Payment</h4>
            <p>{{ order.brand }} Card ending in {{ order.cc_four }}</br>
              Exp: {{ order.exp_month }}/{{ order.exp_year }}</p></br>
            </br>
        </div><!--close payment method div-->
      </div><!--close panel body div-->
    </div><!--close panel div-->
  </div><!--close billing/payment panel-->
</div><!--close shipping and payment panel body-->
</div><!--close shipping and payment panel-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Products Ordered</h3>
      </div>
      <div class="panel-body">
  <table class="table">
    <thead>
      <tr>
        <th>Photo</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
    </thead>

      {% for item in order.cart.cartitem_set.all %}
        <tr>
          {% if item.product_type|stringformat:"s" == "Shirt" %}
            <td><a href="{% url 'shirt_detail' item.product.slug %}" target="_blank"><img style="max-width:50px" src="{{ MEDIA_URL }}{{ item.product.get_default_image }}"></a></td>
          {% elif item.product_type|stringformat:"s" == "Album" %}
            <td><a href="{% url 'album_detail' item.product.slug %}" target="_blank"><img style="max-width:50px" src="{{ MEDIA_URL }}{{ item.product.get_default_image }}"></a></td> 
          {% endif %}       
          <td>
            {{ item.name }}
              <small>
                <ul class="cartitem-detail">
                  {% if item.product_type|stringformat:"s" == "Shirt" %}
                    <li>Brand: <a href="{% url 'brand_detail' item.product.get_parent_slug %}" target="_blank">{{ item.product.get_parent }}</a></li>
                    <li>Color: {{ item.product.get_style_name }}</li>
                    <li>Size: {{ item.size }}</li>
                  {% elif item.product_type|stringformat:"s" == "Album" %}
                    <li>by <a href="{% url 'artist_detail' item.product.get_parent_slug %}" target="_blank">{{ item.product.get_parent }}</a></li>
                  {% endif %}
                </ul>
              </small>
          </td>
          <td>${{ item.price|stringformat:".02f" }}</td>
          <td>{{ item.quantity }}</td>
          <td>${{ item.total|stringformat:".02f" }}</td>
        </tr>
      {% endfor %}
        <tfoot>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>${{ order.cart.total|stringformat:".02f" }}</td>
        </tfoot>
    </table>
  </div>
</div>
</div><!--closes col-xs-9 offset 1-->
</div><!--closes opening row class-->

{% endblock %}