{% extends 'base.html' %}

{% block content %}

	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <div class="alert alert-info" role="alert"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
	    {% endfor %}
	</ul>
	{% endif %}

	{% if cart and cart.active %}
<form id="sample" method="post" action="/cart/update/">{% csrf_token %}
    {{ CartItemSet.management_form }}
    <table>
        {% for form in CartItemSet %}
        	{{ form }}
        {% endfor %}
    </table>
    <input type="submit" value="Submit" form="sample">
</form>

	<form id="updateForm" method="POST" action='/cart/update/'>{% csrf_token %}
		{{ CartItemSet.management_form }}
	</form>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Photo</th>
				<th>Name</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Remove from Cart</th>
				<th>Total</th>
			</tr>
		</thead>

			{% for item in cart.cartitem_set.all %}
				<tr>
					{% if item.product_type|stringformat:"s" == "Shirt" %}
						<td><a href="{% url 'shirt_detail' item.product.slug %}" target="_blank"><img style="max-width:50px" src="{{ MEDIA_URL }}{{ item.product.productimage_set.all.0.image }}"></a></td>
					{% elif item.product_type|stringformat:"s" == "Album" %}
						<td><a href="{% url 'album_detail' item.product.slug %}" target="_blank"><img style="max-width:50px" src="{{ MEDIA_URL }}{{ item.product.productimage_set.all.0.image }}"></a></td>	
					{% endif %}				
					<td>{{ item.name }}</td>
					<td>{{ item.price }}</td>
					<td><input type="number" id="id_form-{{ forloop.counter0 }}-quantity" name="form-{{ forloop.counter0 }}-quantity" value="{{ item.quantity }}"/></td>
					<input id="id_form-{{ forloop.counter0 }}-cartitem" name="form-{{ forloop.counter0 }}-cartitem"
					 type="hidden" value="{{ item.pk }}" />
					<td><form id="deleteItem" method="POST" action="/cart/delete_item"> {% csrf_token %}
						<input id="id_cart" maxlength="5" name="cart" type="hidden" value="{{ cart }}"/>
						<input id="id_cartitem" maxlength="5" name="cartitem" type="hidden" value="{{ item.pk }}"/>
						<input class="pull-left btn" type="submit" name="delete" form="deleteItem" value="Remove">
					</form></td>
					<td>${{ item.total }}</td>
				</tr>
			{% endfor %}
				<tfoot>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td><strong>Subtotal: </br></br>
						<input class="pull-left btn" type="submit" name="update" form="updateForm" value="Update"></td>
					<td>${{ cart.total }}</br></br>
    					<a class="btn btn-default" href="{% url 'checkout' %}">Checkout</a>
					</td>
				</tfoot>
		</table>
		{% else %}
		<div class="row">
			<div class="col-s-12">
				<p>Your cart is empty! Go add something from our catalog of <a href="{% url 'all_albums' %}">albums</a>.</p>
			</div>
		</div>
	{% endif %}

{% endblock %}